body {
  background-color: #eee;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#header {
  background-color: #444;
  margin-bottom: 20px;
  padding: 0;
}

#header h1 a {
  color: white;
}

#header h1 a:hover {
  text-decoration: none;
  color: white;
}

#header h3 {
  color: white;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 20px;
}

#query {
  margin: 0 10px 10px 0;
  padding: 10px 5px;
}

#search button {
  height: 42px;
  vertical-align: top;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0 0 10px 0;
  margin: 0;
}

#topTen img {
  margin-bottom: 10px;
}

#moreRecommendations .type {
  border-bottom: 1px #aaa solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
  color: #555;
  font-weight: bold;
}

#moreRecommendations card-anchor img {
  position: absolute;
  display: none;
  z-index: 99;
  margin-top: -295px;
}

#moreRecommendations card-anchor:hover img {
  display: inline;
  margin-left: 10px;
}

#loading {
  width: 300px;
  margin: 0 auto;
}

#loading h4 {
  text-align: center;
}

#loading img {
  width: 220px;
  display: block;
  margin: 0 auto;
}