a.card img {
  position: absolute;
  display: none;
  z-index: 99;
}

a.card:hover img {
  display: inline;
  margin-left: 10px;
}

input.search {
  width: 500px;
}

#search {
  margin-bottom: 20px;
}