html,
body {
  /* Need to declare this here b/c recent decks section may expand out of
     dedicated footer area on mobile clients */
  background-color: #ddd;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  background-color: #444;
  padding: 20px 0 0 0;
}

#logo_container {
  height: 77px; /* Logo image height */
  min-width: 253px; /* Logo image width */
  margin-bottom: 20px;
}

#logo {
  height: 77px;
}

#header h1 {
  display: inline;
}

#header h1 a {
  color: white;
}

#header h1 a:hover {
  text-decoration: none;
  color: white;
}

#tag_line_container {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  #tag_line_container {
    position: relative;
    height: 81px; /* Logo image height + 4px to get text to line up right with logo text */ 
  }
}

#tag_line {
  color: white;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  #tag_line {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
}

#main {
  /* Height of footer */
  padding: 20px 0 250px 0;
  background-color: #eee;
}

#footer {
  width: 100%;
  height: 250px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  padding: 20px 0 0 0;
}

h3 {
  margin-bottom: 20px;
}

#query {
  padding: 10px 5px;
  margin-bottom: 20px;
  width: 100%;
}

#search button {
  height: 44px;
  vertical-align: top;
  margin-bottom: 20px;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.faq:not(:last-child) {
  margin-bottom: 30px;
}

.faq:last-child {
  margin-bottom: 20px;
}

#top_commanders_filters {
  margin: 15px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0 0 10px 0;
  margin: 0;
}

li:last-child {
  padding-bottom: 0;
}

#main .container {
  padding-bottom: 20px;
}

#top {
  padding-top: 10px;
}

#top img {
  margin-bottom: 10px;
}

#top card-image {
  display: block;
}

#top card-anchor {
  display: block;
  text-align: center;
  /* Matches card img width */
  width: 223px;
}

#top a {
  margin-bottom: 20px;
  /* Need !important to get around autocardanywhere CSS */
  display: block !important;
}

#moreRecommendations {
  margin-bottom: 30px;
}

card-list .type {
  border-bottom: 1px #aaa solid;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

color-chart,
types-chart,
mana-curve-chart {
  margin-bottom: 30px;
  height: 250px;
}

.hover-card card-anchor ~ card-image {
  position: absolute;
  display: none;
  z-index: 99;
  margin-top: -147px;
}

#footer .hover-card card-anchor ~ card-image {
  margin-top: -295px;
}

.hover-card card-anchor:hover ~ card-image {
  display: inline;
  margin-left: 10px;
}

#loading {
  width: 75%;
  margin: 0 auto;
}

#loading h4 {
  text-align: center;
  margin-bottom: 10px;
}

#loading .progress-bar {
  width: 100%;
}

#footer h4 {
  margin-bottom: 20px;
}

#footer ul {
  margin-bottom: 0;
}

#recent_decks {
  padding-bottom: 20px;
}

.reddit {
  vertical-align: text-bottom;
  height: 16px;
  margin-bottom: 2px;
}

.tapped-out {
  vertical-align: text-bottom;
  height: 15px;
  margin-bottom: 2px;
}

#exportDialog {
  padding: 0;
  margin-top: 10px;
}

#exportDialog textarea {
  width: 100%;
  height: 100%;
}

.ui-dialog {
  padding: 5px;
}

.ui-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
