<div ng-show="error">
  <h4>Error</h4>
  {{ error }}
</div>

<div id="loading" ng-show="loading">
  <h4>Generating recommendations...</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"></div>
  </div>
</div>

<div id="recommendations" ng-show="recommendations">
  <h4 ng-show="deckUrl">Other decks like <a ng-href="{{ deckUrl }}">yours</a> use</h4>
  <div ng-show="commander">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <h4 class="hover-card">
          Top recommendations for 
          <card-anchor name="{{ commander }}"></card-anchor>
          <card-image name="{{ commander }}" lazy="true"></card-image>
        </h4>
      </div>
      <div class="col-xs-12 col-md-3">
        <button type="button" class="btn btn-default" ng-click="generateDeck(commander)">Build Me A Deck!</button>
      </div>
    </div>
  </div>
  
  <ul id="top" class="row">
    <li ng-repeat="top in recommendations.top" class="col-xs-12 col-md-3">
      <card-image name="{{ top.card_info.name }}"></card-image>
      <card-anchor name="{{ top.card_info.name }}"></card-anchor>
    </li>
  </ul>
      
  <h4>More recommendations</h4>
  <div id="moreRecommendations" class="row hover-card">
    <div class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-9' : 'col-md-12' }}">
      <div id="adds" class="row">
        <card-list type="Lands" cards="recommendations.lands"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Creatures" cards="recommendations.creatures"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Artifacts" cards="recommendations.artifacts"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Enchantments" cards="recommendations.enchantments"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Instants" cards="recommendations.instants"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Sorceries" cards="recommendations.sorceries"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
        <card-list type="Planeswalkers" cards="recommendations.planeswalkers"
            class="col-xs-12 {{ recommendations.cuts.length > 0 ? 'col-md-4' : 'col-md-3' }}"></card-list>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" ng-show="recommendations.cuts.length > 0">
      <card-list type="Unique to your deck" cards="recommendations.cuts"></card-list>
    </div>
  </div>

  <div ng-show="recommendations.stats">
    <h4>Stats for your deck</h4>
    <div class="row">
      <color-chart class="col-xs-12 col-md-4" colors="recommendations.stats.colors"></color-chart>
      <types-chart class="col-xs-12 col-md-4" types="recommendations.stats.types"></types-chart>
      <mana-curve-chart class="col-xs-12 col-md-4" curve="recommendations.stats.curve"></mana-curve-chart>
    </div>
  </div>
  
  <div ng-show="recommendations.kstats">
    <h4>Stats for decks like yours</h4>
    <div class="row">
      <color-chart class="col-xs-12 col-md-4" colors="recommendations.kstats.colors"></color-chart>
      <types-chart class="col-xs-12 col-md-4" types="recommendations.kstats.types"></types-chart>
      <mana-curve-chart class="col-xs-12 col-md-4" curve="recommendations.kstats.curve"></mana-curve-chart>
    </div>
  </div>

  <h4>Stats for decks with this commander</h4>
  <div class="row">
    <color-chart class="col-xs-12 col-md-4" colors="recommendations.cstats.colors"></color-chart>
    <types-chart class="col-xs-12 col-md-4" types="recommendations.cstats.types"></types-chart>
    <mana-curve-chart class="col-xs-12 col-md-4" curve="recommendations.cstats.curve"></mana-curve-chart>
  </div>
</div>
