<h4>Example decks</h4>
<ul>
  <li>
    <a ng-click="search('http://tappedout.net/mtg-decks/29-09-14-oloro-ageless-ascetic/')">
      http://tappedout.net/mtg-decks/29-09-14-oloro-ageless-ascetic/
    </a>
  </li>
  <li>
    <a ng-click="search('http://tappedout.net/mtg-decks/29-09-14-marath-will-of-the-wild/')">
      http://tappedout.net/mtg-decks/29-09-14-marath-will-of-the-wild/
    </a>
  </li>
  <li>
    <a ng-click="search('http://tappedout.net/mtg-decks/29-09-14-prossh-skyraider-of-kher/')">
      http://tappedout.net/mtg-decks/29-09-14-prossh-skyraider-of-kher/
    </a>
  </li>
  <li>
    <a ng-click="search('http://tappedout.net/mtg-decks/29-09-14-jeleva-nephalias-scourge/')">
      http://tappedout.net/mtg-decks/29-09-14-jeleva-nephalias-scourge/
    </a>
  </li>
  <li>
    <a ng-click="search('http://tappedout.net/mtg-decks/29-09-14-derevi-empyrial-tactician/')">
      http://tappedout.net/mtg-decks/29-09-14-derevi-empyrial-tactician/
    </a>
  </li>
</ul>