<div ng-show="error">
  <h4>Error</h4>
  {{ error }}
</div>

<div id="loading" ng-show="loading">
  <h4>Loading...</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"></div>
  </div>
</div>

<div id="recommendations" ng-show="recommendations">
  <h4>Other decks like <a ng-href="{{ deckUrl }}">yours</a> use</h4>
  <ul id="topTen" class="row">
    <li ng-repeat="topTenCard in recommendations.topTen" class="col-xs-12 col-md-3">
      <card-anchor name="{{ topTenCard.cardname }}" />
    </li>
  </ul>
  
  <div id="moreRecommendations">
    <h4>More recommendations</h4>
    <div class="row">
      <more-recommendations type="Creatures" cards="recommendations.creatures"></more-recommendations>
      <more-recommendations type="Non-creatures" cards="recommendations.nonCreatures"></more-recommendations>
      <more-recommendations type="Lands" cards="recommendations.lands"></more-recommendations>
      <more-recommendations type="Cuts" cards="recommendations.cuts"></more-recommendations>
    </div>
  </div>
</div>
