<div ng-show="error">
  <h4>Error</h4>
  {{ error }}
</div>

<div id="loading" ng-show="loading">
  <h4>Generating recommendations...</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"></div>
  </div>
</div>

<div id="recommendations" ng-show="recommendations">
  <h4>Other decks like <a ng-href="{{ deckUrl }}">yours</a> use</h4>
  <ul id="top" class="row">
    <li ng-repeat="top in recommendations.top" class="col-xs-12 col-md-3">
      <card-anchor name="{{ top.card_info.name }}" />
    </li>
  </ul>
  
  <div id="moreRecommendations">
    <h4>More recommendations</h4>
    <div class="row js-masonry">
      <more-recommendations type="Creatures" cards="recommendations.creatures"></more-recommendations>
      <more-recommendations type="Artifacts" cards="recommendations.artifacts"></more-recommendations>
      <more-recommendations type="Enchantments" cards="recommendations.enchantments"></more-recommendations>
      <more-recommendations type="Instants" cards="recommendations.instants"></more-recommendations>
      <more-recommendations type="Sorceries" cards="recommendations.sorceries"></more-recommendations>
      <more-recommendations type="Planeswalkers" cards="recommendations.planeswalkers"></more-recommendations>
      <more-recommendations type="Lands" cards="recommendations.lands"></more-recommendations>
      <more-recommendations type="Unique to your deck" cards="recommendations.cuts"></more-recommendations>
    </div>
  </div>
</div>
