<form id="search" ng-submit="search()">
	<input id="query" type="text" class="title" placeholder="Link to your deck (e.g. http://tappedout.net/mtg-decks/5-color-enchantress-edh/)" />
	<button>Get Recommendations!</button>
</form>

<div id="results" ng-show="deckUrl">
	<h4>Other decks like <a ng-href="{{ deckUrl }}">yours</a> use:</h4>
	<ul id="topTen">
		<li ng-repeat="topTenCard in topTen" class="span-6 last">
			<a ng-href="{{ getCardUrl(topTenCard.name) }}" ng-attr-title="{{ topTenCard.name }}">
				<img ng-src="{{ getCardImage(topTenCard.name) }}" />
			</a>
	  </li>
	</ul>
	
	<div class="clear"></div>
	<div id="moreRecommendations">
		<h4>More recommendations:</h4>
		<recommendations title="Creatures" cards="creatures"></recommendations>
		<recommendations title="Non-creatures" cards="nonCreatures"></recommendations>
		<recommendations title="Lands" cards="lands"></recommendations>
		<recommendations title="Cuts" cards="cuts"></recommendations>
	</div>
</div>