<form id="search" ng-submit="search()">
	<input id="deckUrl" type="text" class="title search" placeholder="Link to your deck" />
	<input type="submit" value="Get suggestions" />
</form>

<div ng-show="deckUrl">
	<h3>Recommendations for <a ng-href="{{ deckUrl }}">your deck</a></h3>
	
	<div class="span-6">
		<h3>Creatures</h3>
		<ul>
			<li ng-repeat="creature in creatures">
				<card name="{{ creature.name }}" />
		  </li>
		</ul>
	</div>

	<div class="span-6">
		<h3>Non-creatures</h3>
		<ul>
			<li ng-repeat="nonCreature in nonCreatures">
				<card name="{{ nonCreature.name }}" />
			</li>
		</ul>
	</div>

	<div class="span-6">
		<h3>Lands</h3>
		<ul>
			<li ng-repeat="land in lands">
				<card name="{{ land.name }}" />
			</li>
		</ul>
	</div>

	<div class="span-6 last">
		<h3>Uniques</h3>
		<ul>
			<li ng-repeat="unique in uniques">
				<card name="{{ unique.name }}" />
			</li>
		</ul>
	</div>
</div>