<form id="search" ng-submit="search()">
	<input id="query" type="text" class="title" placeholder="Link to your deck" />
	<button>Get Recommendations!</button>
</form>

<div ng-show="deckUrl">
	<h4>Other decks like <a ng-href="{{ deckUrl }}">yours</a> use:</h4>
	<ul id="topTen">
		<li ng-repeat="topTenCard in topTen" class="span-6 last">
			<a ng-href="{{ getCardUrl(topTenCard.name) }}" ng-attr-title="{{ topTenCard.name }}">
				<img ng-src="{{ getCardImage(topTenCard.name) }}" />
			</a>
	  </li>
	</ul>
	
	<div id="moreRecommendations" class="clear">
		<h4>More recommendations:</h4>
		<div class="span-6">
			<b>Creatures</b>
			<ul>
				<li ng-repeat="creature in creatures">
					<card name="{{ creature.name }}" />
			  </li>
			</ul>
		</div>

		<div class="span-6">
			<b>Non-creatures</b>
			<ul>
				<li ng-repeat="nonCreature in nonCreatures">
					<card name="{{ nonCreature.name }}" />
				</li>
			</ul>
		</div>

		<div class="span-6">
			<b>Lands</b>
			<ul>
				<li ng-repeat="land in lands">
					<card name="{{ land.name }}" />
				</li>
			</ul>
		</div>

		<div class="span-6 last">
			<b>Unique in your deck</b>
			<ul>
				<li ng-repeat="unique in uniques">
					<card name="{{ unique.name }}" />
				</li>
			</ul>
		</div>
	</div>
</div>